@media (max-width: 1286px){
    .painel{
        background: url(../images/Papel_2.png);
    }
}

@media (max-width: 1150px){
    .painel{
        background: url(../images/1150.png);
    }
}


@media (max-width: 1000px){
    .secao-com-texto{
        padding: 153px 40px;
    }

    .secao-com-texto p{
        width: 100%;
    }

    .secao-com-texto h2{
        font-size: 3rem;
    }

    .painel{
        background: url(../images/Papel_3.png);
    }
}

@media (max-width: 767.98px){
    .contato{
        background: url(../images/Glow3.png) center center no-repeat;
    }

    .contato .texto{
        position: relative;
        text-align: center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .contato h2{
        font-size: 60px;
        font-weight: 600px;
    
    }

    .contato address{
        font-size: 30px;
        font-weight: 550px;
    }

    .painel{
        background: url(../images/Papel_4.png);
    }
    
}
@media (max-width: 720px){

    .painel{
        background: url(../images/Papel_5.png);
    }

    .ladrilho .grande,.ladrilho .medio{
        width: 100%;
    }

    .ladrilho .pequeno,.ladrilho .pequeno_cell{
        width: 50%;
    }

    .rodape{
        text-align: center;
    }

    .rodape .logo{
        display: block;
        margin-top: 20px;
        margin-bottom: -7px
    }

    .rodape ul{
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }

    .rodape ul li{
        display: block;
    }

    .rodape ul li a{
        font-size: 2rem;
    }

    .rodape .redes-sociais{
        float: none;
        margin-bottom: 28px;
    }

    .rodape .copyright{
        font-size: 15px;
        margin-bottom: 20px;
    }

}

@media (max-width: 620px){
    body{
        font-size: 80%;
    }

    .painel{
        background: url(../images/Papel_6.png) center center no-repeat;
    }

    .cabecalho .logo{
        display: block;
        margin: 0 auto;
        padding-bottom: 0px;
    }

    .cabecalho nav{
        position: static;
        text-align: center;
        width: 100%;
        margin: 5px;
    }

    .cabecalho nav ul li{
        display: block;
    }

    .cabecalho nav ul li a{
        width: 100%;
        display: block;
    }

    .secao-com-texto h2{
        font-size: 3rem;
    }

    .secao-com-texto.onde-estamos p{
        font-size: 2rem;
    }

    .contato .texto{
        background: linear-gradient(-233deg, #000 -25%, rgba(0, 0, 0, 0) 95%) no-repeat;
    }
    
}

@media (max-width:450){
    .painel{
        background: url(../images/450.png);
    }
}


@media(max-width: 415px){
    .ladrilho .pequeno,.ladrilho .pequeno_cell{
        width: 100%;
    }

    .painel{
        background: url(../images/Papel_7.png) center center no-repeat;
    }

}